.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.table{
    border: 1px solid #000;
    margin-top: 10px;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    
}

.pagination > ul {
    list-style: none;
    display: flex;
}

.active-page{
    background-color: #000;
    color: #fff;
}